  name: Build and Push Receiver Image
  on:
    push:
      branches:
        - main
  permissions:
      id-token: write
      contents: read
      packages: write
  jobs:
    Build:
      name: Build
      runs-on: ubuntu-latest
      steps:
        - name: Checkout
          uses: actions/checkout@v2

        - name: Login to GitHub Container Registry
          uses: docker/login-action@v3
          with:
            registry: ghcr.io
            username: ${{ github.actor }}
            password: ${{ secrets.GITHUB_TOKEN }}

        - name: Get commit hash
          id: get-commit-hash
          run: echo "::set-output name=commit-hash::$(git rev-parse --short HEAD)"

        - name: Make Repository Var Lowercase
          run: |
            echo "repository_lowercase=${{ github.repository }}" >>${GITHUB_ENV}

        - name: Build, tag, and push the image to GitHub Container Registry
          id: build-image
          working-directory: ./receiver
          env:
            GHCR_REGISTRY: ghcr.io
            GHCR_REPOSITORY: ${{ env.repository_lowercase }}/receiver
            IMAGE_TAG: ${{ steps.get-commit-hash.outputs.commit-hash }}
          run: |
            docker build -t $GHCR_REGISTRY/$GHCR_REPOSITORY:$IMAGE_TAG -t $GHCR_REGISTRY/$GHCR_REPOSITORY:latest .
            docker push $GHCR_REGISTRY/$GHCR_REPOSITORY:$IMAGE_TAG
            docker push $GHCR_REGISTRY/$GHCR_REPOSITORY:latest