  name: Build and Push Processor Image
  on:
    push:
      branches:
        - main
  permissions:
      id-token: write
      contents: read
      packages: write
  jobs:
    Build:
      name: Build
      runs-on: ubuntu-latest
      steps:
        - name: Checkout
          uses: actions/checkout@v2

        - name: Login to GitHub Container Registry
          uses: docker/login-action@v3
          with:
            registry: ghcr.io
            username: ${{ github.actor }}
            password: ${{ secrets.GITHUB_TOKEN }}

        - name: Get commit hash
          id: get-commit-hash
          run: echo "::set-output name=commit-hash::$(git rev-parse --short HEAD)"

        - name: Build, tag, and push the image to GitHub Container Registry
          id: build-image
          working-directory: ./processor
          env:
            GHCR_REGISTRY: ghcr.io
            GHCR_REPOSITORY: ${{ github.repository }}/processor
            IMAGE_TAG: ${{ steps.get-commit-hash.outputs.commit-hash }}
          run: |
            docker build -t $GHCR_REGISTRY/$GHCR_REPOSITORY:$IMAGE_TAG -t $GHCR_REGISTRY/$GHCR_REPOSITORY:latest .
            docker push $GHCR_REGISTRY/$GHCR_REPOSITORY:$IMAGE_TAG
            docker push $GHCR_REGISTRY/$GHCR_REPOSITORY:latest